RANA_IMAGE=ghcr.io/xmzo/rana-remote:latest
RANA_ADMIN_USER=admin
RANA_ADMIN_PASS=change_me_now
RANA_JWT_SECRET=change_me_please_with_a_long_random_string
RANA_DATA_KEY=change_me_with_a_long_random_string
